* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
header {
  height: 90%;
  padding: 0 0 110px 0;
  background-color: #eff0f2;
}
nav {
  display: flex;
  flex: row;
  width: 80%;
  justify-content: space-between;
  margin: auto;
  margin-top: 0;
  padding-top: 2.5rem;
}
nav img {
  cursor: pointer;
}
.logo {
  border: 5px solid #000000;
  padding: 8px 13px;

  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.06em;
  cursor: default;
}

.logo span {
  font-size: 21px;
  color: #12deb5;
}

.cover_text {
  margin: 20vh 0 15vh 0;
  text-align: center;
}

.cover_text h1,
h2 {
  font-size: 47px;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #505050;
  text-shadow: 4px 8px 8px rgba(0, 0, 0, 0.23);
}

.cover_text span {
  padding: 0 10px;
}

.header_text_background {
  background-color: rgb(118, 244, 234, 0.5);
}

.header_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.cover_text h1 {
  margin: 0 0 15px 0;
}
.contact_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_button a {
  display: inline-block;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.14em;
  color: #000;
}

.contact_button a:hover {
  background-color: #5ed5d6;
}

.glass_image {
  height: 90px;
  width: 59%;
  display: flex;
  justify-content: end;
}
.glass_image img {
  scale: 1.2;
  width: 10%;
  height: 100%;
}
.about_us {
  height: 95%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  padding-bottom: 74px;
  background-color: #f8faf9;
}
.title_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px auto;
}
.text_title {
  height: 60%;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
}
.text_subtitle {
  height: 40%;
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 19px;
}
.about_us_body {
  display: flex;
  flex-flow: row wrap;
  width: 1128px;
  height: 80%;
  justify-content: space-between;
  margin: auto;
}

.chair_image {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  scale: 0.9;
  margin: auto;
}
.chair_image_background {
  position: absolute;
  z-index: -1;
  top: 8%;
  width: 479px;
  min-height: 412px;
  background-color: #eff0f2;
}
.chair_image div {
  height: 10%;
  margin: 1rem auto;
}

.bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 3px;
  margin: 0 3px;
  background-color: #000;
  opacity: 0.2;
}
.bullet_active {
  opacity: 1;
  background-color: #71f6eb;
}
.about_us_text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  max-width: 520px;
  min-width: 335px;
  margin: auto;
}
.about_us_text p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 0 0 1rem 0;
  font-family: "Raleway", sans-serif;
}
.about_us_text_title {
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin: 0 0 0.5rem 0;
}
.featured_works {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 110%;
  width: 100%;
  padding: 0 0 120px 0;
  margin: auto;
  background-color: #fff;
}
.featured_works_images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0;
  cursor: pointer;
}
.featured_works_image {
  margin: 6.5px;
}
.featured_works_image_1 {
  width: 370px;
  height: 359px;
  background: url(./assets/image_1.png);
  background-size: cover;
}
.featured_works_image_2 {
  width: 370px;
  height: 359px;
  background: url(./assets/image_2.png);
  background-size: cover;
}
.featured_works_image_3 {
  width: 370px;
  height: 359px;
  background: url(./assets/image_3.png);
  background-size: cover;
}
.featured_works_image_4 {
  width: 370px;
  height: 359px;
  background: url(./assets/image_4.png);
  background-size: cover;
}
.featured_works_image_5 {
  width: 370px;
  height: 359px;
  background: url(./assets/image_5.png);
  background-size: cover;
}
.featured_works_image_6 {
  width: 370px;
  height: 359px;
  background: url(./assets/image_6.png);
  background-size: cover;
}
.featured_works_image_text {
  display: flex;
  margin: 0;
}
.featured_works_image_text:hover .featured_works_image_text_title {
  display: block;
}
.featured_works_image_text_title {
  display: none;
  justify-content: center;
  margin: auto;
  align-items: center;
  color: #5ed5d6;
  text-decoration: underline;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.featured_works_image_text_title a {
  margin: auto;
}
.services {
  z-index: -10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 120px 0;
  margin: auto;
  height: 130%;
  width: 100%;
  background-color: #f8fafa;
}
.services_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.services_row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 1130px;
  margin: 0 auto;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.services_row_big_image {
  z-index: 1;
  display: flex;
  width: 55%;
  height: 350px;
  margin: 6.5px;
}
.services_row_small_image {
  z-index: 1;
  display: flex;
  width: 42%;
  height: 350px;
  margin: 6.5px;
}
.services_card_text {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  max-height: 350px;
  padding: 100px 40px;
}
.services_card_title {
  height: 20%;
  margin: 0;
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #fff;
}
.services_card_subtitle {
  height: 150px;
  margin: 0;
  font-family: "Raleway", sans-serif;
  line-height: 28px;
  letter-spacing: 0.025em;
  color: #fff;
}
.services_card_subtitle p {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.services_card_link a {
  display: flex;
  margin-top: 2rem;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.7;
  text-decoration: none;
}
.services_card_link a span {
  align-self: center;
  margin: 0 0 0 10px;
}
.arrow {
  width: 30px;
  height: 30px;
  padding: 0 0 12px 10px;
  fill: #ffffff;
}
.services_row1_big_image {
  min-width: 480px;
  background: url(./assets/service/service_1.png) center no-repeat;
  background-size: cover;
}
.services_row1_small_image {
  min-width: 480px;
  background: url(./assets/service/service_2.png) center no-repeat;
  background-size: cover;
}
.services_row2_big_image {
  min-width: 480px;
  background: url(./assets/service/service_3.png) center no-repeat;
  background-size: cover;
}
.services_row2_small_image {
  min-width: 480px;
  background: url(./assets/service/service_4.png) center no-repeat;
  background-size: cover;
}
.services_row3_big_image {
  min-width: 480px;
  background: url(./assets/service/service_5.png) center no-repeat;
  background-size: cover;
}
.services_row3_small_image {
  min-width: 480px;
  background: url(./assets/service/service_6.png) center no-repeat;
  background-size: cover;
}
.team {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 135%;
  width: 100%;
  padding-bottom: 120px;
}
.team_images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 75%;
  width: 70%;
}
.team_image_wrapper {
  margin: 0;
}
.team_image {
  display: flex;
  width: 350px;
  height: 440px;
  padding: 5% 5%;
  margin: 6.5px;
}
.team_image:hover .team_member_text {
  display: flex;
  flex-flow: column;
}
/* triangle */

.arrow-up {
  position: absolute;
  top: -18px;
  left: 10px;
  z-index: 20;
  width: 0;
  height: 0;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-bottom: 37px solid #6df6eb;
}
/* end triangle */
.team_member_text {
  position: relative;
  display: none;
  align-self: flex-end;
  align-items: start;
  justify-content: center;
  height: 55%;
  width: 100%;
  padding: 0 25px;
  background-color: #6df6eb;
  filter: drop-shadow(2.735px 6.444px 8px rgba(20, 20, 21, 0.18));
  opacity: 0.98;
}

.team_member_title {
  font-family: "Merriweather", serif;
  margin: 0 0 5% 0;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #767070;
  font-style: italic;
}
.team_member_title span {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-style: normal;
  color: #000;
}
.team_member_subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}
.team_member_social_links {
  display: flex;
  justify-self: start;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 40%;
  padding: 0;
  margin: 5% 0 0 0;
}
.team_image1 {
  background: url(./assets/team/team_1.png) center no-repeat;
  background-size: cover;
}
.team_image2 {
  background: url(./assets/team/team_2.png);
  background-size: cover;
}
.team_image3 {
  background: url(./assets/team/team_3.png);
  background-size: cover;
}
.team_image4 {
  background: url(./assets/team/team_4.png);
  background-size: cover;
}
.team_image5 {
  background: url(./assets/team/team_5.png);
  background-size: cover;
}
.team_image6 {
  background: url(./assets/team/team_6.png);
  background-size: cover;
}

.swiper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 90%;
  padding-bottom: 164px;
  margin: 0;
  background-color: #f8fafa;
}
.card_wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 440px;
  padding: 0;
  margin: 0;
  background-color: #f8fafa;
}
.swiper_card {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 440px;
  padding: 0;
  margin: 0 auto;
  background-color: #f8fafa;
}
.swiper_image_wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 440px;
  width: 450px;
}

.swiper_card_image {
  z-index: 10;
  height: 440px;
  width: 370px;
  margin: 2.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.swiper_image_background {
  position: absolute;
  z-index: 0;
  top: -10;
  width: 450px;
  min-height: 412px;
  background-color: #eff0f2;
}
.swiper_card_text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: 4%;
  border-radius: 3px;
  background-color: #eaebed;
  text-align: center;
}
.swiper_card_title {
  margin: 0 0 20px 0;
  font-size: 15px;
  font-weight: 400;
  color: #787878;
  font-style: italic;
}
.swiper_card_title span {
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #000;
  font-style: normal;
}
.swiper_card_subtitle {
  margin: 0 0 25px 0;
  font-family: "Raleway", sans-serif;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #000;
}
.star {
  width: 15px;
  height: 14px;
}
.swiper_navigation {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 10%;
  padding: 0;
  margin: 0 auto;
  margin-top: 25px;
}
.swiper_navigation .bullets {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 36%;
  height: 17px;
  padding: 0;
  margin: 0;
}
.swiper_navigation_buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  height: 100%;
  padding: 0;
  margin: 0 20px 0 0;
}
.swiper_navigation_prev_button {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  padding: 0;
  border: none;
  border-radius: 5px;
  margin: 0;
  filter: drop-shadow(3.126px 7.364px 5.5px rgba(20, 20, 21, 0.05));
}
.swiper_navigation_prev_button button {
  justify-self: center;
  height: 100%;
  width: 100%;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.swiper_navigation_next_button {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  padding: 0;
  border-radius: 3px;
  margin: 0;
  filter: drop-shadow(2.344px 5.523px 5.5px rgba(20, 20, 21, 0.1));
}
.swiper_navigation_next_button button {
  justify-self: center;
  height: 100%;
  width: 100%;
  border: none;
  background-color: #71f6eb;
  cursor: pointer;
}

.companies {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 70%;
  padding: 0;
  margin: 120px auto;
}
.companies_logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 5px;
}
.companies_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 13%;
  min-width: 150px;
  padding: 0;
  margin-top: 2%;
}
.companies_logo img {
  height: 80%;
  width: 80%;
  padding: 0;
  margin: auto;
}

.contacts {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
  max-width: 100%;
  padding: 120px 0;
  background: url(./assets/footer_background.png);
  background-size: cover;
}
.contacts_body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: auto;
}
.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 620px;
  height: 469px;
  padding: 15px;
  margin: 15px;
  background-color: rgba(2, 22, 35, 0.7);
}
.form form {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}
form input {
  height: 40px;
  padding: 0 0 0 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  margin: 0 0 20px 0;
  background: transparent;
  font-size: 18px;
  color: #ffffff;
}
form textarea {
  width: 100%;
  height: 140px;
  padding: 0 0 0 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  margin: 0 0 30px 0;
  background: transparent;
  font-size: 18px;
  color: #ffffff;
  resize: none;
  overflow: auto;
  transition-duration: 0.5s;
}
form input::placeholder {
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
  opacity: 0.6;
}
form input:focus {
  border-bottom: 1px solid #6eeee4;
  outline: none;
}
form textarea::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.6;
}
form textarea:focus {
  border-bottom: 1px solid #6eeee4;
  outline: none;
}
.form_button {
  display: inline-block;
  width: 260px;
  padding: 15px 40px;
  border: 2px solid #000;
  border-radius: 4px;
  margin-top: 5%;
  background-color: #6eeee4;
  color: #000;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.14em;
  cursor: pointer;
}
.form_button:hover {
  background-color: #eff0f2;
}
.contacts_adress {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 505px;
  height: 469px;
  padding: 15px;
  margin: 15px;
  background-color: rgba(2, 22, 35, 0.7);
}
.contacts_adress_text_wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 35%;
  width: 100%;
}
.contacts_adress_text {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 20%;
  margin: 0 0 0 0;
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 0.1;
}
.contacts_adress_email {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 20%;
  margin: 0 0 5px 0;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 0.1;
}
.contacts_iframe {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  background-color: rgba(2, 22, 35, 0.7);
}
.contacts_iframe iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
footer {
  height: 30%;
  width: 100%;
  background-color: #262b2e;
}
.footer_body {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer_body_title {
  margin: 45px 0 0.6% 0;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.01em;
}
.footer_body_icons {
  display: flex;
  justify-content: center;
}
.footer_body_icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 0 5px;
  background-color: rgba(138, 138, 138, 0.4);
  fill: #ffffff;
}
.footer_body_icon:hover {
  background-color: #5ed5d6;
  fill: #000;
}
.footer_body_text {
  margin: 30px 0 2rem 0;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.01em;
  opacity: 0.5;
}
@media only screen and (max-width: 1700px) {
  .swiper_navigation {
    flex-flow: column;
    margin-top: 0px;
  }
  .swiper {
    height: 1450px;
    padding-bottom: 0;
  }
  .swiper_card {
    flex-flow: column;
    height: 900px;
  }
  .card_wrapper {
    justify-content: space-between;
    height: 1120px;
  }
  .swiper_card_text {
    height: 365px;
    width: 450px;
    margin-top: 60px;
    text-align: start;
  }
  .swiper_navigation {
    height: 108px;
    margin-bottom: 120px;
  }
  .swiper_navigation_buttons {
    height: 53px;
    margin: 0;
  }
}
@media only screen and (max-width: 1316px) {
  .about_us_body {
    width: 60%;
    margin-top: -40px;
  }
  .form {
    width: 505px;
  }
  .contacts_adress {
    width: 505px;
  }
  .form_button {
    margin: auto;
  }
}
@media only screen and (max-width: 1130px) {
  .services_row {
    width: 490px;
  }
}
@media only screen and (max-width: 768px) {
  header {
    height: 90%;
  }
  .header_wrapper {
    height: 60%;
  }
  .contact_button a:focus {
    background-color: #5ed5d6;
  }
  .cover_text {
    height: 75%;
    width: 90%;
  }
  .glass_image {
    display: none;
  }
  .title_wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 95%;
    height: 20%;
    margin: 40px auto;
  }
  .text_subtitle {
    margin-top: 1rem;
    text-align: center;
  }
  .about_us {
    height: 160%;
    padding: 0 0 60px 0;
  }
  .about_us_body {
    flex-flow: column;
    height: 100%;
    width: 100%;
    padding: 0;
  }
  .chair_image {
    width: 90%;
    height: 100%;
    margin: auto;
  }
  .chair_image_background {
    display: none;
  }
  .about_us_text {
    width: 80%;
    height: 60%;
    margin: auto;
  }
  .featured_works {
    padding-bottom: 60px;
  }
  .featured_works_images {
    flex-flow: column;

  }
  .featured_works_image {

  }
  .services {
    height: 300%;
  }
  .team {
    justify-content: space-around;
    height: 370%;
    width: 100%;
    padding-bottom: 60px;
  }
  .team .title_wrapper {
    height: 6%;
  }
  .team_images {
    flex-flow: column;
    width: 100%;
    height: 90%;
    padding: 0;
    margin: auto;
  }
  .team_image {
    align-items: center;
  }
  .team_image_wrapper {
    height: 100%;
    padding: 0;
    margin: auto;
  }
  .team_member_text {
    scale: 0.9;
  }
  .swiper {
    height: 1220px;
    width: 100%;
    padding: 40px auto;
    margin: 0;
  }
  .swiper_card {
    flex-flow: column;
    height: 85%;
    width: 95%;
    padding: 0;
  }
  .swiper_card_text {
    height: 100%;
    width: 95%;
    margin: 0 auto;

  }
  .swiper_image_background {
    display: none;
  }
  .swiper_image_wrapper {
    width: 372px;
    scale: 0.9;
  }
  .swiper_navigation {
    margin: 20px auto 60px auto;
  }
  .services {
    height: 300%;
    padding-bottom: 60px;
  }
  .services_body {
    flex-flow: column;
    justify-content: center;
    height: 80%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .services_row {
    flex-flow: column;
    margin: 0;
    padding: 0;
    height: 60%;
    width: 100%;
    max-width: 375px;
  }
  .services_row_big_image,
  .services_row_small_image {
    max-width: 95%;
    min-height: 40%;
  }
  .services_row1_big_image, .services_row1_small_image, .services_row2_big_image, .services_row2_small_image, .services_row3_big_image, .services_row3_small_image{
    min-width: 350px;
  }

  .services_card_text {
    max-width: 100%;
    scale: 0.85;
  }
  .companies {
    display: none;
  }

  .contacts {
    height: 140%;
    margin-bottom: 1rem;
  }
  .contacts_body {
    flex-flow: column;
  }
  .form {
    width: 100%;
  }
  .form_button {
    margin: auto;
  }
  .contacts_adress {
    width: 100%;
  }
  footer {
    height: 20%;
  }
  .footer_body {
    align-items: center;
    height: 100%;
    margin: auto;
  }
}
@media only screen and (max-width: 505px) {
  .chair_image img {
    scale: 0.95;
  }
  .swiper_card_text {
    width: 98%;
  }
  .form {
    width: 95%;
  }
  .contacts_adress {
    width: 95%;
  }
}